.card{
    cursor: pointer;
    transition: 0.5s;
}

.card:hover{
    opacity: 0.7;
}

.title{
    text-align: center;
    font-size: 17px;
    color: gray;
    text-decoration: none;
}

.titleSearch{
    color: white;
    text-align: left;
    padding: 3rem 8rem;
}

.link{
    text-decoration: none;
}

.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.sectionName{
    color: white;
}

.sectionLink{
    text-decoration: none;
    color: lightgray;
    font-size: 18px;
}

.sectionLink:hover{
    color: gray;
    
}

@media (max-width: 768px){
    .sectionName{
        text-align: center;
    }

    .sectionHeader{
        flex-direction: column;
    }
    .titleSearch{
        text-align: center;
        padding: 2rem 1rem;
    }
}